.skills{
        display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
}
.textcenter{
display: flex; 
justify-content: center; 
align-items: center; 
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    background-color: aqua;
}